/*
By default the stdout produced by the commands executed in all processes is ignored.
Setting the echo directive to true you can forward the process stdout to the current
top running process stdout file, showing it in the shell terminal.
*/
// process.echo = true

/*
Add conda environment for workshop
*/
process.conda = "/home/training/miniconda3/envs/nf"
